.menu-text {

}

.main-heading {
  font-size: 6em;
}

.my-pic {
  max-width: 70%;
}

.ext-icon {
  max-width: 10%;
}

.nav-menu li {
  display: none;
}

.nav-icon {
  width: 10%;
  margin-left: 1em;
}

.sub-headings {
  margin: .5em auto;
}

#main {
  text-align: center;
}
