ul li {
  display: inline-block;
}

.menu-text {
  display: none;
}

.main-heading {
  font-size: 6em;
}

.my-pic {
  max-width: 70%;
}

.ext-icon {
  max-width: 10%;
}

.nav-menu li { /* todo: add spacing for li's */
  display: inline;
}

.nav-icon {
  width: 10%;
  margin-left: 1em;
}

#main {
  text-align: center;
}
