.main-heading {
  font-size: 3em;
}

#main .ui-accordion-content {
  padding: 0 .75em 0 .75em;
  font-family: 'Jura', sans-serif;
  background-color: #A8BFA7;
  font-weight: bold;
  font-size: 1em;
}

#main .ui-accordion-header {
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  background-color: #384038;
  color: black;
}

#main .ui-accordion-header:hover{
  color: white;
}

#main .ui-state-active {
  color: white;
}

@media screen and (min-width: 680px) { /*if viewed on larger screen*/
  .menu-text {
    display: inline;
    position: relative;
    margin-right: .8em;
  }

  .sub-headings {
    font-size: 3em;
  }

  .main-heading {
    font-size: 6em;
  }

  #social {
    left: 10%;
  }

  #home {
    max-width: 64px;
  }

  .ext-icon {
    max-width: 64px;
  }

  ul li {
    display: inline;
  }

  .nav-menu li {
    display: inline;
  }

  div a p {
    margin-bottom: 2%;
  }

  div > p {
    line-height: 1.5em;
    font-size: 1.2em;
  }
}
