.main-heading {
  font-size: 3em;
}

@media screen and (min-width: 680px) { /*if viewed on larger screen*/
  .menu-text {
    display: inline;
    position: relative;
    top: -10px;
    margin-left: 0.2em;
    margin-right: .8em;
  }

  .sub-headings {
    font-size: 3em;
  }

  .main-heading {
    font-size: 6em;
  }

  .my-pic {
  }

  ul li {
    display: inline;
  }

  .nav-menu li {
    display: inline;
  }
}
